{% extends 'base.html' %}


{% block nav %}
    <B> navigace contact </B>
{% endblock %}

{% block header %}
    <h1> Email </h1>
{% endblock %}



{% block content %}
<h1> {{ titulek }} </h1>
<table class=contact>
<form action="/contact/" method="post">{% csrf_token %}
{{ form.as_table }}
<tr><td colspan=2><input type="submit" value="Submit" /></td></tr>
</form>
</table>
{% endblock %}
